In [ ]:
import pandas as pd
from tabulate import tabulate

# Load the CSV file into a pandas DataFrame
df = pd.read_csv('/content/drive/MyDrive/swiggy.csv')

# Sort the DataFrame by the 'name' column in ascending order
df_sorted = df.sort_values(by='name')

# Print the sorted DataFrame in tabulate format
print(tabulate(df_sorted, headers='keys', tablefmt='psql'))

In [ ]:
# prompt: remove symbols toketest="!@#$%^&*i"

import pandas as pd
from tabulate import tabulate
import re

# Load the CSV file into a pandas DataFrame
df = pd.read_csv('/content/drive/MyDrive/swiggy.csv')

# Function to remove symbols from a string
def remove_symbols(text):
    return re.sub(r'[^\w\s]', '', str(text))

# Apply the function to the 'name' column
df['name'] = df['name'].apply(remove_symbols)


# Sort the DataFrame by the 'name' column in ascending order
df_sorted = df.sort_values(by='name')

# Print the sorted DataFrame in tabulate format
print(tabulate(df_sorted, headers='keys', tablefmt='psql'))

In [ ]:
# prompt: Remove rows with NA values in the 'rating' column and save csv

# Remove rows with NA values in the 'rating' column
df_cleaned = df.dropna(subset=['rating'])

# Save the cleaned DataFrame to a new CSV file
df_cleaned.to_csv('/content/drive/MyDrive/swiggy_cleanedx.csv', index=False)

In [ ]:
import pandas as pd
from tabulate import tabulate

# Load the CSV file into a pandas DataFrame
df = pd.read_csv('/content/drive/MyDrive/swiggy_cleanedx.csv')

# Sort the DataFrame by the 'name' column in ascending order
df_sorted = df.sort_values(by='name')

# Print the sorted DataFrame in tabulate format
#print(tabulate(df_sorted, headers='keys', tablefmt='psql'))

In [ ]:
# prompt: Remove rows with -- values in the 'rating' column and save csv

import pandas as pd

# Load the CSV file into a pandas DataFrame
df = pd.read_csv('/content/drive/MyDrive/swiggy_cleanedx.csv')

# Remove rows where the 'rating' column contains '--'
df_cleaned = df[df['rating'] != '--']

# Save the cleaned DataFrame to a new CSV file
df_cleaned.to_csv('/content/drive/MyDrive/swiggy_cleaned_finalx.csv', index=False)

In [ ]:
import pandas as pd
from tabulate import tabulate

# Load the CSV file into a pandas DataFrame
df = pd.read_csv('/content/drive/MyDrive/swiggy_cleaned_finalx.csv')

# Sort the DataFrame by the 'name' column in ascending order
df_sorted = df.sort_values(by='name')

# Print the sorted DataFrame in tabulate format
#print(tabulate(df_sorted, headers='keys', tablefmt='psql'))

In [ ]:
# prompt: remove columns 'id', 'lic_no',  'link',  'menu' and save csv

# Load the CSV file into a pandas DataFrame
df = pd.read_csv('/content/drive/MyDrive/swiggy_cleaned_finalx.csv')

# Remove specified columns
columns_to_remove = ['id', 'lic_no', 'link', 'menu']
df = df.drop(columns=columns_to_remove, errors='ignore')

# Save the modified DataFrame to a new CSV file
df.to_csv('/content/drive/MyDrive/swiggy_finalx.csv', index=False)

In [ ]:
import pandas as pd
from tabulate import tabulate

# Load the CSV file into a pandas DataFrame
df = pd.read_csv('/content/drive/MyDrive/swiggy_finalx.csv')

# Sort the DataFrame by the 'name' column in ascending order
df_sorted = df.sort_values(by='name')

# Print the sorted DataFrame in tabulate format
print(tabulate(df_sorted, headers='keys', tablefmt='psql'))

In [ ]:
# prompt: remove '+ ratings' in the rating_count column and replace 'K' to '000' in the same column

import pandas as pd

# Load the CSV file
df = pd.read_csv('/content/drive/MyDrive/swiggy_finalx.csv')

# Function to clean the 'rating_count' column
def clean_rating_count(rating_count):
    rating_count = str(rating_count)  # Ensure it's a string
    rating_count = rating_count.replace('+ ratings', '')
    rating_count = rating_count.replace('K', '000')
    return rating_count

# Apply the cleaning function to the 'rating_count' column
df['rating_count'] = df['rating_count'].apply(clean_rating_count)

# Save the modified DataFrame back to the CSV file
df.to_csv('/content/drive/MyDrive/swiggy_final2x.csv', index=False)

# (Optional) Print the updated DataFrame to verify the changes
print(df.head())

                name    city  rating rating_count   cost           cuisine  \
0  Janta Sweet House  Abohar     4.4           50  ₹ 200     Sweets,Bakery
1  theka coffee desi  Abohar     3.8          100  ₹ 100         Beverages
2          Singh Hut  Abohar     3.7           20  ₹ 250  Fast Food,Indian
3          Sam Uncle  Abohar     3.6           20  ₹ 200       Continental
4   shere punjab veg  Abohar     4.0          100  ₹ 150      North Indian

                                             address
0  Janta Sweet House, Bazar No.9, Circullar Road,...
1         theka coffee desi, sahtiya sadan road city
2    Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR
3  Sam Uncle, hanumangarh road near raja bajaj sh...
4  shere punjab veg, major surinder chowk near ve...

In [ ]:
import pandas as pd
from tabulate import tabulate

# Load the CSV file into a pandas DataFrame
df = pd.read_csv('/content/drive/MyDrive/swiggy_final2x.csv')

# Sort the DataFrame by the 'name' column in ascending order
df_sorted = df.sort_values(by='name')

# Print the sorted DataFrame in tabulate format
print(tabulate(df_sorted, headers='keys', tablefmt='psql'))